version: "3.9"
services:
  app:
    image: ghcr.io/rikiboatz/rikiboatz/appdevops/appdevops:latest-dev
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    ports:
      - "9000:9000"
    restart: unless-stopped