name: Deploy (prod)

on:
  push:
    branches: ["main"]

env:
  ENVIRONMENT: production

permissions:
  contents: read
  packages: write
  deployments: write

jobs:
  build-push:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set lowercase variables
        run: |
          echo "OWNER_LOWER=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV
          echo "REPO_LOWER=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

      - name: Docker login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push (latest)
        env:
          SHORT_SHA: ${{ github.sha }}
          IMAGE: ghcr.io/${{ env.OWNER_LOWER }}/${{ env.REPO_LOWER }}/appdevops
        run: |
          docker build -t $IMAGE:${SHORT_SHA:0:7} -t $IMAGE:latest .
          docker push $IMAGE:${SHORT_SHA:0:7}
          docker push $IMAGE:latest